<!--
  Generated template for the SouProfissionalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="fundo">

   <!-- BOTÃO VOLTAR-->
   <ion-fab left edge>
      <button (click)='voltarParaHome()' class="btn_base" ion-fab mini>
        <ion-icon name="ios-return-left-outline"></ion-icon>
      </button>
    </ion-fab>

  <img src="assets/imgs/logo_abrev.png" class="logo_abrev">

  <p>Cadastre-se ou indique profissionais para aprimorar nosso aplicativo. É gratis</p>

  <ion-card class="fundo">
    
    <form (ngSubmit)="souProfi()">

      <ion-item class="fundo">
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="profissional.nome" name="nome" required ></ion-input>
      </ion-item>

      <ion-item class="fundo">
          <ion-label>CPF:</ion-label>
          <ion-input type="number" [(ngModel)]="profissional.cpf" name="cpf" required></ion-input>
      </ion-item>

      <ion-item class="fundo">
          <ion-label>Cidade:</ion-label>
          <ion-input type="text" [(ngModel)]="profissional.cidade" name="cidade"></ion-input>
        </ion-item>

      <ion-list>
        <ion-item class="fundo">
          <ion-label>Profissão</ion-label>
          <ion-select [(ngModel)]="profissional.profissao" name="profissao">
            <ion-option value="todos">Todos</ion-option>
            <ion-option value="pedreiro">Pedreiros</ion-option>
            <ion-option value="pintor">Pintores</ion-option>
            <ion-option value="marceneiro">Marceneiros</ion-option>
            <ion-option value="encanador">Encanadores</ion-option>
            <ion-option value="eletrcista">Eletricistas</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item class="fundo">
        <ion-label>Telefone:</ion-label>
        <ion-input type="Tel" [(ngModel)]="profissional.tel" name="tel"></ion-input>
      </ion-item>

      <ion-item class="fundo">
          <ion-label>E-mail:</ion-label>
          <ion-input type="email" [(ngModel)]="profissional.email" name="email"></ion-input>
        </ion-item>


      <button type="submit" class="btn_base" ion-button round large block>
        <ion-icon name="enviar"> Cadastrar </ion-icon>
      </button>
    </form>

  </ion-card>

</ion-content>