<!--
  Generated template for the MinhasObrasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="fundo">

  <!-- BOTÃO VOLTAR-->
  <ion-fab left edge>
    <button (click)='voltarParaHome()' class="btn_base" ion-fab mini>
      <ion-icon name="ios-return-left-outline"></ion-icon>
    </button>
  </ion-fab>

  <img src="assets/imgs/logo_abrev.png" class="logo_abrev">

  <ion-fab right edge>
    <button (click)='irParaNovasObras()' class="btn_base" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <br>

  <ion-card class="fundo">
    <ion-card-content>
      <button ion-item class="fundo">
        <ion-item class="fundo">
          <img src="assets/imgs/logo_principal.png">
          <h2>Marty McFly</h2>
          <p>November 5, 1955</p>
        </ion-item>

        <!--
        <ion-card-title>
          Titulo da Obra
        </ion-card-title>
        <h3>Descrição:</h3>
        <p>
          oasjondbndbjçbfçabjw
        </p>
        <button class="btn_base" ion-button clear item-start>Editar</button>
        <button class="btn_base" ion-button clear item-end>Excluir</button>
        -->
      </button>
    </ion-card-content>

    <ion-card-content>
      <button ion-item class="fundo">
        <ion-item class="fundo">
          <img src="assets/imgs/logo_principal.png">
          <h2>Marty McFly</h2>
          <p>November 5, 1955</p>
        </ion-item>
      </button>
    </ion-card-content>

  </ion-card>

</ion-content>