// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fundo{
   
    background: rgb(10, 20, 30);
    text-align: center;
    color: azure !important;
}

.btn_base{
    background: rgb(40, 130, 214);
    color: azure;
}

.btn_base:hover{
    background: azure !important;
    color: rgb(40, 130, 214) !important;
}

.btn_sair{
    background: yellow;
    color: black;
    position: absolute;
    /*left: 90px;  posiciona a 90px para a esquerda */ 
    top: 93%; /* posiciona a 70px para baixo */
}

/* Esconde botão
.voltar-hidden{
    display: none;
}
*/
.btn_sair:hover{
    background: red !important;
    color: aliceblue !important;
}

.logo_abrev{
    float: center;
    width: 40%;
}

.azure{
    color: azure !important;
    background: azure;
}
