<!--
  Generated template for the NovasObrasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="fundo">

  <!-- BOTÃO VOLTAR-->
  <ion-fab left edge>
    <button (click)='voltarParaMinhasObras()' class="btn_base" ion-fab mini>
      <ion-icon name="ios-return-left-outline"></ion-icon>
    </button>
  </ion-fab>

  <img src="assets/imgs/logo_abrev.png" class="logo_abrev">

  <br>
  
  <form (ngSubmit)="logForm()" class="fundo">
    
    <ion-item>
      <ion-label>Titulo da Obra</ion-label>
      <ion-input type="text" [(ngModel)]="obra.titulo" name="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descricao</ion-label>
      <ion-textarea [(ngModel)]="obra.descricao" name="descricao"></ion-textarea>
    </ion-item>


    <button ion-button type="submit" class="btn_base" ion-button block round large>Cadastrar</button>
  </form>


</ion-content>